<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header"></li>
      <li>
        <a href="#">
          <i class="fa fa-edit"></i> <span>Shit/Blej</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-table"></i> <span>Lista e Shitjeve</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-table"></i> <span>Lista e Blerjeve</span>
        </a>
      </li>
    </ul>
  </section>
</aside>